-
    const program_items = [
        {
            title: 'Макро картина',
            list: ['Ставка на дефицитное сырье: почему ставим, как отыгрывать', 'Прогноз по макро в США: как будет двигаться инфляция и какой логично ожидать реакции ФРС.', 'Анализируем кризис: когда пора будет покупать акции и облигации США', 'Экономика РФ: почему мы ждём кризиса в 2023 году, и какие сектора разумно покупать с учётом этого'],
            icon: '1',
        },
        {
            title: 'Российский рынок акций',
            list: ['Как РФ ответит на эмбарго и потолок цен', 'Перспективы перенаправления в Азию, какая строится инфраструктура', 'Сектор-горнодобычи и металлургия не лучшая инвестиция в 2023 году', 'Все банки упали в цене. Какие из них справедливо дешевые, а какие имеют потенциал', 'IT: Какие есть тренды, кто перспективен', 'Ритейл: тренды в потреблении'],
            icon: '2',
        },
        {
            title: 'Американский рынок акций',
            list: ['2023 год на США - год, когда облигации могут дать неплохой перфоманс', 'В какие периоды REIT на жилую недвижимость оказываются защитными стабильными инвестициями для балансировки портфелей', 'Перспективная ставка среди девелоперов', 'Актуальные ставки на сырьё на рынке США и как их отрабатывать', 'Как мы можем заработать на тренде на цифровизацию'],
            icon: '2',
        },
    ]