section.why
    .why__img 
        +webp(['why/1'], 'png')
    .l-default 
        .why__info
            h2.why__title.title.title--h2 Зачем мы проводим день стратегии?
            .why__text  
                p Основатель аналитической компании Invest Heroes
                p Входит в совет эндаудмент фонда Высшей Школы Экономики
                p Главный макро стратег фонда "Арикапитал - Инвестхироуз" с объёмом средств под управлением 0.5МЛРД руб. +
            .why__author 
                .why__author-name Сергей Пирогов
                .why__author-position Основатель Invest Heroes


