extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Invest Heroes"

block content
  include ../blocks/modules/header/header.pug
  main.main
    include ../blocks/modules/main-top/main-top.pug
    include ../blocks/modules/why/why.pug
    include ../blocks/modules/program/program.pug
    include ../blocks/modules/horizontal-form/horizontal-form.pug
  include ../blocks/modules/popup/popup.pug 

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")