form.form
    .form__title Принять участие
    .form__date 
        .form__date-icon 
            img(src="img/svg/date.svg", alt="")
        .form__date-text 26 января <span>/ в 19:00</span> 
    //- .form__inputs
    //-     .form__input
    //-         input(type="text" name="name" placeholder="Имя" required)
    //-     .form__input
    //-         input(type="email" name="email" placeholder="E-mail" required)
    //-     .form__input
    //-         input(type="tel" name="phone" placeholder="Телефон" required)
    //- .form__checkbox
    //-     .form__checkbox-container
    //-         input.form__checkbox-input(type="checkbox" checked)
    //-         span.form__checkbox-btn
    //-         .form__checkbox-text Отправляя заявку, вы принимаете условия <a href="">договора оферты</a> и даете согласие на обработку своих персональных данных в соответствии с <a href="">политикой конфиндециальности</a>
    .form__price 5 000 руб
    button.form__submit.btn(type="submit")
        .btn__text Оплатить
        .btn__icon 
            img(src="img/svg/like.svg", alt="")