.popup#popup
    .popup__wrapper
        .popup__img
            +webp(['popup/telegram'], 'png', 'lazy')
        .popup__info
            .popup__title Вступайте в чат телеграм
            .popup__subtitle в котором можно будет задавать вопросы на марафоне
            a.popup__btn.btn.btn--green(href="https://t.me/saveyoursavingschat") Вступить