section.main-top
    .main-top__img
        +webp(['main-top/1'], 'png')
    .l-default
        .main-top__info 
            h1.main-top__title.title.title--h1 ДЕНЬ СТРАТЕГИИ INVEST HEROES
    .l-default.main-top__date-wrapper
        .main-top__date 
            .main-top__date-icon 
                img(src="img/svg/date.svg", alt="")
            .main-top__date-text 26 января <span>/ в 19:00</span> 
        a.main-top__btn.btn.scroll(href="#horizontal-form") 
            .btn__text Участвовать
            .btn__icon 
                img(src="img/svg/like.svg", alt="")

